In [3]:
import numpy as np
from libnirs import *
import pandas as pd
import math
import plotly.graph_objects as go
import matplotlib.pyplot as plt
from matplotlib import ticker, cm
from matplotlib import colors

In [4]:
dataframe1 = pd.read_excel('Only_LRF_IVH.xlsx')

In [5]:
dataframe1

,Subject_ID,Date_of_measurement,Session,Location,Location_rep,mua673,mua686,mua701,mua724,mua754,...,IVH_Gd_L,Tx group,Txoc,TxocF_mo,Time group,Gestational age (weeks),age at meas (weeks),PMA (weeks),HC (cm),Corrected age
0,B010,2062017.0,S1,LF,"1,2,3,4,5,6,7",NaN,NaN,NaN,NaN,NaN,...,4,1.0,1.0,1.5,1.0,30.000000,17.285714,47.285714,41.0,7.285714
1,B010,2082017.0,S1,LF,"1,2,3,4,5,6",NaN,NaN,NaN,NaN,NaN,...,4,1.0,1.0,1.5,2.0,30.000000,17.571429,47.571429,40.5,7.571429
2,B010,2102017.0,S1,LF,"1,10,11,12,2,3,4,5,6,7,8,9",0.143922,0.122859,0.109232,0.099111,0.113786,...,4,1.0,1.0,1.5,2.0,30.000000,17.857143,47.857143,40.5,7.857143
3,B010,2142017.0,S1,LF,"1,2,3,4,5",NaN,NaN,NaN,NaN,NaN,...,4,1.0,1.0,1.5,2.0,30.000000,18.428571,48.428571,41.0,8.428571
4,B010,3222017.0,S1,LF,1,NaN,NaN,NaN,NaN,NaN,...,4,3.0,2.0,1.5,4.0,30.000000,23.571429,53.571429,46.0,13.571429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,B082,3052020.0,S1,RF,"1,2,3",NaN,NaN,NaN,NaN,NaN,...,0,0.0,0.0,NaN,0.0,25.857143,10.857143,36.714286,NaN,-3.285714
776,B085,3132020.0,S1,RF,"1,2,3",NaN,0.115052,0.096484,0.090609,NaN,...,3,0.0,0.0,NaN,0.0,36.285714,2.142857,38.428571,33.5,-1.571429
777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
778,NaN,NaN,NaN,NaN,Mean,0.132700,0.115602,0.104741,0.098620,0.113956,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
779,NaN,NaN,NaN,NaN,SD,0.036211,0.033902,0.030444,0.026574,0.029431,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN